
.Dashboard {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 1024px;
  width: 1440px;
}

.Dashboard .overlap-group5 {
  align-items: center;
  background-color: var(--dark-burgundy);
  display: flex;
  gap: 1055px;
  height: 102px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 31px;
}

.Dashboard .title {
  color: #f7eaea;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 44px;
  min-width: 193px;
}

.Dashboard .overlap-group6 {
  background-color: var(--alto);
  background-image: url(../img/mask-group-1@2x.png);
  background-size: 100% 100%;
  border-radius: 30px;
  height: 60px;
  width: 60px;
}

.Dashboard .flex-row {
  align-items: center;
  display: flex;
  gap: 271px;
  height: 922px;
  min-width: 1390px;
}

.Dashboard .overlap-group4 {
  align-items: center;
  background-color: var(--alto);
  display: flex;
  flex-direction: column;
  min-height: 922px;
  padding: 132px 0;
  width: 101px;
}

.Dashboard .vector-1 {
  height: 34px;
  margin-right: 1.0px;
  margin-top: 19px;
  width: 34px;
}

.Dashboard .overlap-group7 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 100px;
  margin-left: 1.0px;
  margin-top: 11px;
  min-width: 100px;
  padding: 0 31px;
}

.Dashboard .vector-2 {
  height: 34px;
  width: 36px;
}

.Dashboard .fluent-mdl2trackers {
  height: 35px;
  margin-right: 2.0px;
  margin-top: 13px;
  width: 35px;
}

.Dashboard .vector-3 {
  height: 34px;
  margin-left: 1.0px;
  margin-top: 412px;
  width: 34px;
}

.Dashboard .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 10.0px;
  min-height: 846px;
  width: 1018px;
}

.Dashboard .overlap-group2 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--alto);
  border-radius: 10px;
  display: flex;
  gap: 27px;
  height: 46px;
  min-width: 332px;
  padding: 10px 13px;
}

.Dashboard .vector-4 {
  height: 25px;
  width: 25px;
}

.Dashboard .search-for-course {
  align-self: center;
  color: #00000080;
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 19px;
  min-width: 133px;
  white-space: nowrap;
}

.Dashboard .overlap-group-1 {
  background-color: var(--dark-burgundy);
  border-radius: 10px;
  height: 232px;
  margin-top: 58px;
  position: relative;
  width: 697px;
}

.Dashboard .rectangle {
  background-color: var(--dark-burgundy);
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 232px;
  left: 0;
  position: absolute;
  top: 0;
  width: 697px;
}

.Dashboard .cs101 {
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 114px;
}

.Dashboard .introduction-to-programming {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 77px;
  white-space: nowrap;
  width: 505px;
}

.Dashboard .place {
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 120px;
  white-space: nowrap;
  width: 114px;
}

.Dashboard .number {
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 163px;
  white-space: nowrap;
  width: 114px;
}

.Dashboard .vector {
  height: 43px;
  left: 56px;
  position: absolute;
  top: 37px;
  width: 41px;
}

.Dashboard .overlap-group {
  background-color: var(--dark-burgundy);
  border-radius: 10px;
  height: 232px;
  margin-top: 23px;
  position: relative;
  width: 697px;
}

.Dashboard .hum200 {
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 128px;
}

.Dashboard .world-history {
  color: var(--soapstone-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 77px;
  white-space: nowrap;
  width: 505px;
}

.Dashboard .art300 {
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 114px;
}

.Dashboard .painting-techniques {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 77px;
  white-space: nowrap;
  width: 505px;
}
