<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/macbook-pro-16u34-1.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="macbook-pro-16u34-1" />
    <div class="container-center-horizontal">
      <div class="macbook-pro-16u34-1 screen">
        <div class="flex-col inter-normal-black-40px">
          <h1 class="title">Photos</h1>
          <div class="recent">Recent:</div>
          <div class="rectangle-1 rectangle-2"></div>
          <div class="rectangle-4 rectangle-2"></div>
        </div>
        <div class="flex-col-1 flex-col-3">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
        </div>
        <div class="flex-col-2 flex-col-3">
          <div class="rectangle"></div>
          <div class="rectangle"></div>
        </div>
      </div>
    </div>
  </body>
</html>
