<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./../css/Profile.css" />
    <link rel="stylesheet" type="text/css" href="./../css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="./../css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="profile" name="page" value="Profile" />
    <div class="container-center-horizontal">
      <div class="Profile screen">
        <div class="overlap-group"><h1 class="title inter-bold-white-36px">Profile</h1></div>
        <div class="flex-row flex">
          <div class="overlap-group1">
            <div class="overlap-group5"><img class="vector" src="./../img/vector-2.svg" alt="Vector" /></div>
            <img class="vector-1" src="./../img/vector.svg" alt="Vector" />
            <img class="fluent-mdl2trackers" src="./../img/fluent-mdl2-trackers.svg" alt="fluent-mdl2:trackers" />
            <img class="vector-2" src="./../img/vector-1.svg" alt="Vector" />
          </div>
          <div class="flex-col flex">
            <img class="mask-group" src="./../img/mask-group@2x.png" alt="Mask group" />
            <div class="overlap-group-container">
              <div class="overlap-group2"><div class="change-photo">Change Photo</div></div>
              <div class="overlap-group4"><div class="edit-profle">Edit profle</div></div>
            </div>
            <div class="flex-row-1">
              <div class="flex-col-1">
                <img
                  class="material-symbolsperson"
                  src="./../img/material-symbols-person.svg"
                  alt="material-symbols:person"
                />
                <img class="ribuilding-fill" src="./../img/ri-building-fill.svg" alt="ri:building-fill" />
                <img class="icbaseline-email" src="img/ic-baseline-email.svg" alt="ic:baseline-email" />
                <img class="bxsid-card" src="img/bxs-id-card.svg" alt="bxs:id-card" />
                <img
                  class="icon-park-soliddegree-hat"
                  src="img/icon-park-solid-degree-hat.svg"
                  alt="icon-park-solid:degree-hat"
                />
              </div>
              <div class="flex-col-2">
                <div class="name-aaliya-saho inter-bold-black-32px">
                  <span class="inter-bold-black-32px">Name:</span
                  ><span class="inter-medium-black-32px"> Aaliya Saho</span>
                </div>
                <div class="flex-col-item inter-bold-black-32px">
                  <span class="inter-bold-black-32px">Department:</span
                  ><span class="inter-medium-black-32px"> Engineering</span>
                </div>
                <div class="flex-col-item inter-bold-black-32px">
                  <span class="inter-bold-black-32px">Email:</span
                  ><span class="inter-medium-black-32px"> Aaliyah.Saho@ashesi.edu.gh</span>
                </div>
                <div class="overlap-group3">
                  <div class="id-45972029 inter-bold-black-32px">
                    <span class="inter-bold-black-32px">ID:</span><span class="inter-medium-black-32px"> 45972029</span>
                  </div>
                  <div class="text inter-medium-black-32px"></div>
                </div>
                <div class="degree-b-sc inter-bold-black-32px">
                  <span class="inter-bold-black-32px">Degree:</span><span class="inter-medium-black-32px"> B.Sc</span>
                </div>
                <div class="number inter-normal-white-28px">2024</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
