<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./../css/Tracker_attendance_taken.css" />
    <link rel="stylesheet" type="text/css" href="./../css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="./../css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="tracker_attendance_taken" name="page" value="Tracker_attendance_taken" />
    <div class="container-center-horizontal">
      <div class="Tracker_attendance_taken screen">
        <div class="overlap-group2">
          <div class="tracker inter-bold-white-36px">Tracker</div>
          <div class="overlap-group4"></div>
        </div>
        <div class="flex-row">
          <div class="overlap-group">
            <img class="vector" src="./../img/vector-2.svg" alt="Vector" />
            <img class="vector-1" src="./../img/vector.svg" alt="Vector" />
            <div class="fluent-mdltrackers-container">
              <img class="fluent-mdl2trackers" src="./../img/fluent-mdl2-trackers.svg" alt="fluent-mdl2:trackers" />
              <img class="fluent-mdl2trackers" src="./../img/fluent-mdl2-trackers.svg" alt="fluent-mdl2:trackers" />
            </div>
            <img class="vector-2" src="./../img/vector-1.svg" alt="Vector" />
          </div>
          <div class="flex-col">
            <div class="word-history-attendance inter-bold-black-36px">Word History Attendance</div>
            <div class="name inter-semi-bold-dark-burgundy-36px">Aaliyah Saho</div>
            <div class="overlap-group1">
              <div class="rectangle-13 rectangle"></div>
              <div class="past-schedule inter-normal-black-32px">Past Schedule</div>
              <div class="rectangle-14 rectangle"></div>
              <div class="upcoming-schedule">Upcoming Schedule</div>
            </div>
            <h1 class="title">Attendance taken</h1>
            <div class="overlap-group3">
              <div class="ellipse-2"></div>
              <img class="typcntick" src="./../img/typcn-tick.svg" alt="typcn:tick" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
