<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/Tracker.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="tracker" name="page" value="Tracker" />
    <div class="container-center-horizontal">
      <div class="Tracker screen">
        <div class="overlap-group">
          <h1 class="title inter-bold-white-36px">Tracker</h1>
          <div class="overlap-group4"></div>
        </div>
        <div class="flex-row">
          <div class="overlap-group1">
            <img class="vector" src="img/vector-2.svg" alt="Vector" />
            <img class="vector-1" src="img/vector.svg" alt="Vector" />
            <div class="fluent-mdltrackers-container">
              <img class="fluent-mdl2trackers" src="img/fluent-mdl2-trackers.svg" alt="fluent-mdl2:trackers" />
              <img class="fluent-mdl2trackers" src="img/fluent-mdl2-trackers.svg" alt="fluent-mdl2:trackers" />
            </div>
            <img class="vector-2" src="img/vector-1.svg" alt="Vector" />
          </div>
          <div class="flex-col">
            <div class="word-history-attendance inter-bold-black-36px">Word History Attendance</div>
            <div class="name inter-semi-bold-dark-burgundy-36px">Aaliyah Saho</div>
            <div class="overlap-group2">
              <div class="rectangle-13"></div>
              <div class="past-schedule inter-normal-black-32px">Past Schedule</div>
              <div class="rectangle-14"></div>
              <div class="upcoming-schedule">Upcoming Schedule</div>
            </div>
            <div class="enter-pin-here inter-medium-black-32px">Enter pin here</div>
            <div class="rectangle-15"></div>
            <div class="overlap-group3"><div class="place">Enter</div></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
