<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./../css/Tracker_past_schedule.css" />
    <link rel="stylesheet" type="text/css" href="./../css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="./../css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="tracker_past_schedule" name="page" value="Tracker_past_schedule" />
    <div class="container-center-horizontal">
      <div class="Tracker_past_schedule screen">
        <div class="overlap-group6">
          <h1 class="title inter-bold-white-36px">Tracker</h1>
          <div class="overlap-group12"></div>
        </div>
        <div class="flex-row flex">
          <div class="overlap-group-1">
            <img class="vector" src="./../img/vector-2.svg" alt="Vector" />
            <img class="vector-1" src="./../img/vector.svg" alt="Vector" />
            <div class="overlap-group13">
              <img class="fluent-mdl2trackers" src="img/fluent-mdl2-trackers.svg" alt="fluent-mdl2:trackers" />
            </div>
            <img class="vector-2" src="./../img/vector-1.svg" alt="Vector" />
          </div>
          <div class="flex-col flex">
            <div class="word-history-attendance inter-bold-black-36px">Word History Attendance</div>
            <div class="name inter-semi-bold-dark-burgundy-36px">Aaliyah Saho</div>
            <div class="overlap-group2">
              <div class="rectangle-13 rectangle"></div>
              <div class="rectangle-14 rectangle"></div>
              <div class="upcoming-schedule inter-normal-black-32px">Upcoming Schedule</div>
              <div class="past-schedule">Past Schedule</div>
            </div>
            <p class="total-statistics-57-l1-p5-a1 inter-normal-black-24px">Total Statistics 5/7 - L(1) P(5) A(1)</p>
            <div class="overlap-group-container">
              <div class="overlap-group7">
                <img class="line-1 line-3" src="./../img/line-1.svg" alt="Line 1" />
                <p class="mon-14-mar-2024-806 inter-normal-black-24px">Mon 14 Mar 2024 - 8:06</p>
              </div>
              <div class="overlap-group11"><div class="late inter-normal-soapstone-20px">Late</div></div>
            </div>
            <div class="flex-row-1 flex-row-7">
              <p class="fri-1-mar-2024-1305 inter-normal-black-24px">Fri 1 Mar 2024 - 13:05</p>
              <div class="overlap-group"><div class="sent inter-normal-soapstone-20px">Present</div></div>
            </div>
            <img class="line-2 line-3" src="./../img/line-2.svg" alt="Line 2" />
            <div class="flex-row-2 flex-row-7">
              <p class="wed-28-feb-2024-1300 inter-normal-black-24px">Wed 28 Feb 2024 - 13:00</p>
              <div class="overlap-group"><div class="sent inter-normal-soapstone-20px">Present</div></div>
            </div>
            <div class="overlap-group4"><img class="line-3" src="img/line-2.svg" alt="Line 5" /></div>
            <div class="flex-row-3 flex-row-7">
              <p class="mon-26-feb-2024-805 inter-normal-black-24px">Mon 26 Feb 2024 - 8:05</p>
              <div class="overlap-group"><div class="sent inter-normal-soapstone-20px">Present</div></div>
            </div>
            <img class="line" src="./../img/line-2.svg" alt="Line 4" />
            <div class="flex-row-4 flex-row-7">
              <p class="fri-23-feb-2024-1309 inter-normal-black-24px">Fri 23 Feb 2024 - 13:09</p>
              <div class="overlap-group"><div class="sent inter-normal-soapstone-20px">Present</div></div>
            </div>
            <img class="line-6 line-3" src="./../img/line-2.svg" alt="Line 6" />
            <div class="flex-row-5 flex-row-7">
              <p class="wed-21-feb-2024-1325 inter-normal-black-24px">Wed 21 Feb 2024 - 13:25</p>
              <div class="overlap-group9"><div class="sent inter-normal-soapstone-20px">absent</div></div>
            </div>
            <img class="line" src="./../img/line-2.svg" alt="Line 7" />
            <div class="flex-row-6 flex-row-7">
              <p class="mon-19-feb-2024-800 inter-normal-black-24px">Mon 19 Feb 2024 - 8:00</p>
              <div class="overlap-group"><div class="sent inter-normal-soapstone-20px">Present</div></div>
            </div>
            <img class="line-8 line-3" src="./../img/line-2.svg" alt="Line 8" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
