:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --white: #ffffff;
 
  --font-size-l: 42px;
  --font-size-m: 40px;
  --font-size-s: 20px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-normal-white-40px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-40px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
