:root { 
  --black: #000000;
  --falu-red: #771414;
  --quill-gray: #d6d3d3;
  --white: #ffffff;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-xl: 32px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 48px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
